{% extends 'base.html.twig' %}

{% block title 'Mixtour' %}

{% block body %}
    <div class="jumbotron">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequatur dolores earum, eum fugit in laborum nobis numquam pariatur repudiandae totam vero voluptas, voluptatibus. Alias dicta doloribus labore perspiciatis quam.</div>
{% endblock %}