{% extends 'base.html.twig' %}

{% block title 'Mixtour' %}

{% block body %}
    <div class="jumbotron">Création Tournoi</div>

    <div class="container mt-4">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary" type="submit">Créer</button>
        <a class="nav-link" href="{{ path('tournaments') }}">Retour</a>

        {{ form_end(form) }}
    </div>

{% endblock %}