{% extends 'base.html.twig' %}

{% block title 'Mixtour' %}

{% block body %}
<div class="tourJoueur" style="width:500px;"></div>
{% endblock %}

{% block javascripts %}

<script src="/d3/d3.min.js"></script>
<script src="/js/mixtour.js"></script>

{% endblock %}
